.copy-content {
/*width: 50%;*/
/*opacity: 0.9;*/
background: #F9F9F9;
filter: alpha(opacity=70);
[#orange]filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);[/#]
-moz-opacity: 0.70; opacity:0.7;
margin: 5 auto;
/* border: 1px solid #EAEAEA;*/
}

.main {
/*width: 50%;*/
/*margin: 0 auto;*/
/*opacity: 0.9;*/
/* background: #F9F9F9;
  width: 20%;
  padding: 30px 0;
  margin: 0 auto;
  border: 1px solid #EAEAEA;*/
}
.main .list-heading {
  color: #e93937;
/*  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  padding-left: 20px;*/
}

.main li {
list-style-type: none;
/*  color: #636363;*/
/*  line-height: 1.2em;
  padding-top: 10px;
  font-weight: 500;
  padding: 5px 20px ;
  transition: all .2s ease;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;*/
  width: 100%;
/*  border-bottom: 1px solid #EFEFEF;*/
}
.main li:first-child {
/*  border-top: 1px solid #EFEFEF;*/
}
.main li:hover {
/*  background-color: #EFEFEF;*/
}
.main li:hover:after {
  bottom: 0;
}
.main li:hover .copy-btn {
  opacity: 0.5;
  right: 0;
}
.main li .copy-btn {
/*  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  text-align: center;
  right: -100%;*/
  bottom: 0;
  transition: all .2s ease;
  padding: 5px;
  background-color: #636363;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border: none;
  outline: none;
/*  width: 25%;*/
}
.main li .copy-btn:before {
  content: "";
  width: 50%;
  height: 50%;
/*  display: inline-block;*/
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position-y: center;
}
.main li .copy-btn:after {
  content: "click to copy";
/*  display: inline-block;*/
  vertical-align: middle;
/*height: 90%;*/
 width: 70%;
}

.success {
/*  position: absolute;
  cursor: pointer;
  width: 20%;
  top: 0;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  bottom: 0;
  background-color: #777;
  color: #fff;
  text-transform: uppercase;
  transition: all .1s ease;
  transform: scale(0.1);
  border-radius: 99%;
*/
}

.success:before {
  content: "";
  width: 20px;
  height: 20%;
  display: inline-block;
/*  vertical-align: middle;
  background-repeat: no-repeat;
  background-position-y: center;*/
}
.success:after {
  content: "Copied!";
/* color: #fff;
 height: 20%;*/
color: #000;
/*background-color: #777;*/
/*opacity: 0.6;*/
/*font-size-adjust: 4;*/
/*font-size: 12em;*/
font-size: 8vw;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2
), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

/*  display: inline-block;
  vertical-align: middle;*/
}
.success.show {
  transform: scale(1);
  border-radius: 0;
}
/*
.p-success:hover {
  border: 2px solid #E93937;
}
.p-success:before {

  content: "Copied";
  background: #E93937;
  text-align: center;
}
*/
/*p {
  margin-bottom: 30px;
  color: #989898;
  padding-left: 20px;
}*/
